*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #121212;
  font-size: 0.9rem;
}

header{
  width: 100vw;
  position: fixed;
  top: 0;
}

.logo{
  width: 150px;
  height: 80px;
  margin-left: 30px;
}

nav{
  width: 300px;
  height: 100vw;
  position: fixed;
  top: 0;
  left: -500px;
  background-color: #121212;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.open nav{
  left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.nav-lists, .nav-sns{
  width: 250px;
  margin: 50px auto;
}

.nav-lists li{
  padding: 20px 0;
  border-bottom: solid 1px white;
}

.nav-lists li:first-child{
  border-top: solid 1px white;
}

.nav-sns li{
  margin: 10px 0;
}

.nav-lists li a,
.nav-sns li a{
  color: white;
  text-decoration: none;
}

.hamburger{
  width: 120px;
  height: 80px;
  background-color: transparent;
  border: solid 1px transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.hamburger span{
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #121212;
  position: absolute;
  top: 35px;
  right: 45px;
  transition: 0.5s;
}

.hamburger span:first-child{
  top: 25px;
}

.hamburger span:last-child{
  top: 45px;
}

.open .hamburger span{
  background-color: white;
}

.open .hamburger span:first-child{
  transform: translateY(10px) rotate(315deg);
}

.open .hamburger span:nth-child(2){
  display: none;
}

.open .hamburger span:last-child{
  transform: translateY(-10px) rotate(-315deg);
}

.mask{
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.open .mask{
  display: block;
}