*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #333;
  font-size: 0.875rem;
}

header{
  position: fixed;
  display: flex;
  height: 80px;
  width: 99vw;
  background-color: white;
}

.logo{
  width: 180px;
  margin: 30px 0 30px 300px;
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 99vw;
  height: 100vh;
  background-color: black;
  visibility: hidden;
  opacity: 0;
}

.menu.active{
  visibility: visible;
  opacity: 0.8;
  transform: translateX(0);
}

.menu ul{
  list-style: none;
  position: absolute;
  top: 50px;
  left: -300px;
  transition: all 0.5s 0s ease;
}

.menu ul.active{
  left: 50px;
}

.menu ul li{
  margin: 10px 0;
}

header a{
  color: white;
  text-decoration: none;
  transition: all 0.5s 0s ease;
}

header a:hover{
  color: gray;
}

.hamburger{
  width: 50px;
  margin: 30px 0 30px 1050px;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  cursor: pointer;
}

.hamburger span{
  width: 70%;
  height: 2px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  display: block;
  transition: all 0.5s 0s ease;
}

.hamburger span:nth-child(2){
  top: 1px;
}

.hamburger.active span:first-child{
  transform: translateY(-6px) rotate(45deg);
  background-color: white;
}

.hamburger.active span:nth-child(2){
  transform: rotate(-45deg);
  background-color:  white;
}

main{
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  margin: 0 auto 50px;
  min-height: calc(90vh - 50px);
}

.main-contents{
  display: flex;
  flex-wrap: wrap;
}

.item{
  width: 300px;
  margin: 20px;
}

.item a, .viewmore, footer ul li a{
  color: #333;
  text-decoration: none;
}

.item-image{
  width: 15vw;
  height: 35vh;
}

.item-text{
  margin: 10px 0 20px;
}

footer{
  width: 1300px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
}

footer ul{
  display: flex;
  list-style: none;
}

footer ul li:nth-child(2){
  margin: 0 30px;
}

.copyright{
  margin-left: auto;
  font-size: 10px;
}

@media screen and (max-width: 900px){
  .logo{
    margin: 30px 0 10px 50px;
  }

  .hamburger{
    margin: 30px 0;
    margin-left: auto;
  }

  main{
    max-width: 900px;
    padding-top: 30px;
  }

  .item{
    width: 45vw;
  }

  .item-image{
    width: 45vw;
    height: 50vh;
  }

  footer{
    width: 90vw;
    margin-left: 20px;
    padding: 10px 0;
    flex-direction: column;
  }

  .copyright{
    margin-left: 0;
  }
}

/*products*/

main p{
  margin-right: auto;
  margin-left: 20px;
}

.paginate{
  list-style: none;
  display: flex;
}

.paginate li{
  margin: 0 20px;
}

.paginate li a{
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 900px){
  main p{
    padding-top: 50px;
  }
}

/*item*/

.item-contents{
  width: 1360px;
  margin: 30px auto;
  display: flex;
}

.item-content-image{
  width: 400px;
  height: 400px;
  margin-left: 20px;
}

.item-content-text{
  width: 360px;
  margin-left: 30px;
}

.item-content-text dl{
  margin-top: 30px;
  margin-left: 20px;
}

.item-content-text dl dt{
  float: left;
}

.item-content-text dl dd{
  margin-left: 100px;
}

.back-to-products{
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 900px){
  .item-contents{
    width: 90vw;
    flex-direction: column;
  }

  .item-content-image{
    width: 90vw;
    height: 90vh;
    margin-left: 0;
  }

  .item-content-text{
    width: 90vw;
    margin-left: 0;
  }

  .item-content-text dl dd{
    margin-left: 200px;
  }
}

/*about*/

.about-text{
  width: 600px;
}

/*company*/

.company-contents{
  width: 600px;
  margin-right: auto;
  margin-left: 20px;
  z-index: -10;
}

.about-company{
  margin: 40px 0;
}

.about-company dt{
  float: left;
  padding: 20px 0 20px 10px;
}

.about-company dd{
  padding: 20px 0 20px 200px;
  border-bottom: solid 1px #e3e3e3;
}

.about-company dd:last-child{
  border-bottom: none;
}

.company-contents iframe{
  filter: grayscale(100%);
}

@media screen and (max-width: 900px){
  .about-company dt{
    float: none;
    padding: 20px 0 0 20px;
  }

  .about-company dd{
    padding: 10px 0 10px 20px;
  }
}