*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, #about, #works, #news, #contact{
  margin: 0 auto;
  width: 960px;
  padding: 4%;
}

header{
  display: flex;
}

nav{
  margin-left: auto;
}

ul{
  display: flex;
  list-style: none;
}

li{
  margin: 0 10px;
  font-size: 15px;
}

a{
  color: black;
  text-decoration: none;
}

.icon{
  width: 20px;
  height: 20px;
}

.main-visual{
  width: 100%;
  height: 420px;
  background-image: url("img/mainvisual-pc.jpg");
  background-size: cover;
  background-position: center;
}

#about, #works, #news, #contact{
  display: flex;
  flex-direction: column;
}

.title{
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.profile{
  font-size: 12px;
  margin: 50px 0 30px;
}

.works-images{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.works-image{
  width: 255px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.works-image:nth-child(1){
  background-image: url("img/works1.jpg");
}

.works-image:nth-child(2){
  margin: 0 20px;
  background-image: url("img/works2.jpg");
}

.works-image:nth-child(3){
  background-image: url("img/works3.jpg");
}

.works-image:nth-child(4){
  margin-top: 20px;
  background-image: url("img/works4.jpg");
}

.works-image:nth-child(5){
  margin: 20px 20px 0;
  background-image: url("img/works5.jpg");
}

.works-image:nth-child(6){
  margin-top: 20px;
  background-image: url("img/works6.jpg");
}

.article{
  border-top: solid 1px gray;
  padding: 20px 0;
  width: 100%;
  font-size: 14px;
  display: flex;
}

.article:nth-child(6){
  border-bottom: solid 1px gray;
}

.article-title{
  margin-left: 100px;
}

.contact-name, .contact-email, .contact-message{
  width: 700px;
  margin-left: 50px;
  padding: 10px;
  font-size: 20px;
}

.contact-email{
  margin-top: 10px;
  margin-bottom: 10px;
}

input:focus, .contact-message{
  outline-width: 0;
}

.submit{
  margin-top: 50px;
  text-align: center;
}

.contact-submit{
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
}

.contact-submit:hover{
  background-color: white;
  color: black;
  border: solid 1px black;
}

footer{
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyrights{
  margin: 20px;
  font-size: 12px;
}

@media screen and (max-width: 600px){
  header, #about, #works, #news, #contact{
    margin: 0 auto;
    width: 100%;
    padding: 4%;
  }

  header{
    flex-direction: column;
    align-items: center;
  }

  nav{
    margin-left: 0;
  }

  .main-visual{
    background-image: url("img/mainvisual-sp.jpg");
  }

  .works-images{
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .works-image{
    width: 90%;
    height: 400px;
    margin: 20px auto !important;
  }

  .article{
    flex-direction: column;
  }

  .article-title{
    margin-left: 0;
  }

  .contact-name, .contact-email, .contact-message{
    width: 100%;
    margin-left: 0;
  }

　table{
		display: block;
		width: 100%;
	}
	table tr{
	  width: 100%;
	  display: block;
	}
	table tbody{
	  width: 100%;
	  display: block;
	}
	table td{
	  width: 100%;
	  display: block;
	}
}