*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans JP', 'Noto Sans', sans-serif;
}

header{
  width: 100%;
  position: fixed;
  background-color: white;
}

#logo{
  width: 1200px;
  margin: 0 auto;
}

.logo{
  width: 150px;
  height: 70px;
}

nav{
  width: 100%;
  background-color: #333;
}

ul, #pickup, #container{
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

li{
  list-style: none;
  margin: 10px 30px;
}

header li:nth-child(1){
  margin-left: 0;
}

a{
  text-decoration: none;
  color: black;
}

header a{
  color: white;
}


.pickup{
  margin: 150px 0 100px;
}

.pickup:nth-child(2){
  margin: 150px 20px 100px;
}

.pickup-image{
  width: 380px;
  height: 220px;
}

.readmore{
  margin-top: 20px;
  text-align: center;
}

.readmore a{
  font-size: 15px;
  position: relative;
}

.readmore a::after{
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #333;
  transition: all 200ms ease;
}

.readmore a:hover::after {
  opacity: 0;
  transform: translateY(3px);
}

.main{
  width: 800px;
  margin-bottom: 100px;
}

.main li{
  margin-left: 0;
}

.main-visual{
  width: 780px;
  height: 400px;
}

.main-text{
  padding: 10px 30px;
}