*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #050507;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: white;
}
/*header*/
header{
  position: fixed;
  top: 0;
  width: 100vw;
  display: none;
}

.logo{
  width: 150px;
  position: absolute;
  top: 30px;
  left: 30px;
}

nav{
  width: 100vw;
  text-align: center;
  position: fixed;
  padding-top: 70px;
  top: -300px;
  transition: 0.5s;
  background-color: #050507;
}

.open nav{
  top: 0;
}

nav ul li{
  margin: 20px 0;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

.humberger{
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid transparent;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}

.humberger span{
  width: 30px;
  height: 1px;
  background-color: white;
  display: block;
  position: absolute;
  top: 40px;
  right: 25px;
  transition: 0.5s;
}
.humberger span:first-child{
  top: 30px;
}

.humberger span:last-child{
  top: 50px;
}

.open .humberger span:first-child{
  transform: translateY(9px) rotate(-45deg);
}

.open .humberger span:nth-child(2){
  transform: rotate(45deg);
}

.open .humberger span:last-child{
  transform: translateY(-9px) rotate(45deg);
}
/*main*/
.is-inview{
  transform: translateY(50px);
  transition: 1s;
  opacity: 0;
}

.is-inview-fadein{
  transform: translateY(0);
  opacity: 1;
}
/*top*/
#top{
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

#top img{
  width: calc(100%/3);
  height: 100vh;
  flex-shrink: 0;
  object-fit: cover;
}

.b-title{
  width: fit-content;
  text-align: center;
  font-size: 100px;
  margin: 100px auto;
  letter-spacing: 5px;
}
/*information*/
.title, .subtitile, #information span{
  width: fit-content;
  text-align: center;
}

.title{
  font-size: 50px;
  margin: 50px auto 40px;
  padding-bottom: 10px;
  border-bottom: solid 1px white;
  letter-spacing: 5px;
}

.subtitile{
  font-size: 30px;
  margin: 30px auto;
}

#information span{
  font-size: 20px;
  display: block;
  margin: 0 auto;
}
/*gallery*/
#gallery{
  max-width: 800px;
  margin: 0 auto;
}

#gallery ul li{
  list-style: none;
}

#gallery ul li:nth-child(even){
  text-align: right;
  margin: 40px 0;
}

#gallery ul li img{
  width: 50%;
}

