*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #050507;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: white;
}
/*header*/
header{
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
  display: none;
}

.logo{
  width: 150px;
  position: absolute;
  top: 30px;
  left: 30px;
}

nav{
  width: 100vw;
  text-align: center;
  position: fixed;
  padding-top: 70px;
  top: -300px;
  transition: 0.5s;
  background-color: #050507;
}

.open nav{
  top: 0;
}

nav ul li{
  margin: 20px 0;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

.humberger{
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid transparent;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}

.humberger span{
  width: 30px;
  height: 1px;
  background-color: white;
  display: block;
  position: absolute;
  top: 40px;
  right: 25px;
  transition: 0.5s;
}
.humberger span:first-child{
  top: 30px;
}

.humberger span:last-child{
  top: 50px;
}

.open .humberger span:first-child{
  transform: translateY(9px) rotate(-45deg);
}

.open .humberger span:nth-child(2){
  transform: rotate(45deg);
}

.open .humberger span:last-child{
  transform: translateY(-9px) rotate(45deg);
}
/*main*/
main{
  position: relative;
}

.is-inview{
  transform: translateY(50px);
  transition: 1s;
  opacity: 0;
}

.is-inview-fadein{
  transform: translateY(0);
  opacity: 1;
}
/*top*/
#top{
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

#top img{
  width: calc(100%/3);
  height: 100vh;
  flex-shrink: 0;
  object-fit: cover;
}

.b-title{
  width: fit-content;
  text-align: center;
  font-size: 100px;
  margin: 100px auto;
  letter-spacing: 5px;
}
/*information*/
.title, .subtitile, #information span{
  width: fit-content;
  text-align: center;
}

.title{
  font-size: 50px;
  margin: 50px auto 40px;
  padding-bottom: 10px;
  border-bottom: solid 1px white;
  letter-spacing: 5px;
}

.subtitile{
  font-size: 30px;
  margin: 30px auto;
}

#information span{
  font-size: 20px;
  display: block;
  margin: 0 auto;
}
/*sidebar*/
#sidebar{
  height: 200px;
  line-height: 20;
  position: fixed;
  top: 65vh;
  right: -120px;
  transform: rotate(-90deg);
  transition: 0.5s;
}

#sidebar.is-inview-side{
  right: -70px;
}

#sidebar a{
  margin: 0 -2px;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  transition: 0.5s;
}

#sidebar a:hover{
  color: #626262;
}
/*gallery*/
#gallery{
  max-width: 800px;
  margin: 0 auto;
}

#gallery ul li{
  list-style: none;
}

#gallery ul li:nth-child(even){
  text-align: right;
  margin: 40px 0;
}

#gallery ul li img{
  width: 50%;
}
/*access*/
#access{
  margin: 300px 0;
  text-align: center;
}

.bg{
  width: 100vw;
  height: 100vh;
  z-index: -3;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#access span{
  width: fit-content;
  display: block;
  margin: 30px auto;
}

#access a{
  display: block;
  width: 250px;
  height: 50px;
  margin: 30px auto;
  line-height: 3;
  background-color: transparent;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

#access a:hover{
  background-color: black;
}
/*contact*/
#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 300px 0 100px;
  text-align: center;
}

.contact-link{
  margin: 20px 0;
  width: 400px;
  height: 100px;
  border: 1px solid #626262;
  line-height: 6;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  position: relative;
}

.contact-link:hover{
  opacity: 0.7;
}

.contact-link span::after{
  content: "";
  display: block;
  width: 120px;
  height: 10px;
  border-bottom: 1px solid white;
  border-right: 2px solid white;
  transform: skew(60deg);
  position: absolute;
  top: 40px;
  right: -50px;
  transition: 0.5s;
}

.contact-link:hover span::after{
  right: -80px;
}
/*footer*/
footer{
  font-size: 12px;
  margin: 50px 0;
  padding: 100px 30px 0;
  border-top: solid 1px white;
}

footer ul{
  list-style: none;
}

.sns{
  display: flex;
  margin: 30px 0;
}

.sns li{
  margin: 0 10px;
}

.sns li:first-child{
  margin: 0;
}

.sns li a{
  text-decoration: none;
  color: white;
}

.privacy{
  margin-left: auto!important;
}
/*responsive*/
@media screen and (max-width: 900px){
  #top img{
    width: 100%;
  }

  .b-title{
    font-size: 50px;
  }

  .title{
    font-size: 30px;
  }

  .subtitile{
    font-size: 20px;
  }

  #information span{
    font-size: 15px;
  }

  #gallery{
    max-width: 100vw;
    margin: 50px auto;
  }

  #gallery ul li{
    text-align: center!important;
    margin: 40px 0;
  }

  #gallery ul li img{
    width: 90%;
  }

  .contact-link{
    width: 80vw;
  }

  .contact-link span::after{
    display: none;
  }
}