*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f4f9ff;
  color: #333;
  font-size: 0.875rem;
}

.main-visual, .index, .detail{
  width: 1000px;
  margin: 50px auto;
}

.logo{
  width: 150px;
  height: 50px;
}

.main-image{
  background-image: url("img/mainvisual.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.index{
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.title{
  margin: 30px auto 0px;
  width: 600px;
  font-size: 1rem;
}

.list{
  list-style: none;
}

.list-item{
  width: 600px;
  margin: 20px auto;
}

.detail-contents{
  margin-top: 10px;
  width: 800px;
  display: flex;
}

.detail-image{
  background-image: url("img/detail.jpg");
  width: 280px;
  height: 280px;
  background-size: cover;
  background-position: center;
  margin-left: 200px;
}

.detail-text{
  width: 350px;
  margin-left: 50px;
}

.detail-title{
  font-size: 1rem;
  margin-bottom: 20px;
}

.introduction{
  padding: 20px 0;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}

.subintroduction{
  margin: 20px 0;
}

.link{
  color: #333;
}

footer{
	width: 75%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyrights{
	font-size: 10px;
}

@media screen and (max-width: 1024px){

  .detail-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .detail-image{
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin-left: 100px;
    margin-bottom: 30px;
  }

  .detail-text{
    width: 400px;
    margin-left: 0;
  }
}